<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:requestLegacyExternalStorage="true"
        >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7114592307899156~8502527700"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activity.Ingreso"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.Splash"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan"
            android:exported = "true">

        </activity>

        <activity
            android:name=".activity.Info"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BuscarCoordenadas"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.Ingreso2"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.IngresoDistanciaAzimutEstacion"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.Cargar"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MostrarPoligono"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.GuardarPoligono"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.IniciarSesion"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".other.Registro"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>